<%= render 'shared/navbar' %>
<div class="container">
  <div class="list-group">
      <h3>My bookings (<%= @bookings.count%>):</h3>
      <%  @bookings.each do |booking| %>
        <div class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1"><strong><%= booking.event.name %></strong></h5>
            <small>You paid: €<%= booking.event.price %></small>
          </div>
          <div class="d-flex w-100 justify-content-between">
            <p class="mb-1"><em>Where?</em> <%= booking.event.location %></p>
            <p class="mb-1"><em>When?</em> <%= booking.event.start %></p>
            <small><%= link_to 'Cancel', booking_path(booking), method: :delete, data: { confirm: "Are you sure you want to cancel your booking?"}, class: 'text-danger' %></small>
          </div>
        </div>
      <% end %>
  </div>
  <br>
  <%= link_to 'Go back to all events', events_path %>
</div>