<div class="container">
<!--<div class="d-flex justify-content-center">-->
  <h1>Create an Event</h1>
<!--</div>
<div class="container" my-3>-->
  <%= simple_form_for(@event) do |f| %>
    <%= f.input :start%>
    <%= f.input :end%>
    <%= f.input :name%>
    <%= f.input :menu%>
    <%= f.input :location%>
    <%= f.input :price, input_html: {min: 0}%>
    <%= f.input :capacity, input_html: {min: 0}%>
    <%= f.input :description %>
    <%= f.submit "Submit", class: "btn btn-confirm" %>
  <% end %>
<!--</div>-->
</div>
