<!--<a class="btn btn-simple" href="#">Simple</a>
<a class="btn btn-cancel" href="#">Cancel</a>
<a class="btn btn-confirm" href="#">Confirm</a>-->

<div class="banner" >
  <div class="container text-center">
    <%= form_tag events_path, method: :get do %>
        <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "Find your next dinner in ...",
              style: "border-radius: 15px"
             %>
        <%# <div class="btn btn-confirm my-3"> %>
          <%= submit_tag "Search", class:"btn btn-confirm my-3" %>
        <%# </div> %>
    <% end %>
  </div>
</div>

<div class="container space-cards">
  <h1 class="text-center">Welcome to cookUp</h1>
  <hr class="w-80">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 mt-5">
    <div class="col py-2">
      <div class="card h-100">
        <div class="card-body">
          <%= image_tag 'friends.png', id: 'home_img', class: "card-img-top mx-auto my-3" %>
          <h3 class="card-title">Meet Friends</h3>
          <p class="card-text">Introduce yourself to new people</p>
        </div>
      </div>
    </div>
    <div class="col py-2">
      <div class="card h-100">
        <div class="card-body">
          <%= image_tag 'dinner.png', id: 'home_img', class: "card-img-top mx-auto my-3 pt-5 pb-3" %>
          <h3 class="card-title">Eat Food</h3>
          <p class="card-text">Delicious dinners with friendly people</p>
        </div>
      </div>
    </div>
    <div class="col py-2">
      <div class="card h-100">
        <div class="card-body">
          <%= image_tag 'community.png', id: 'home_img', class: "card-img-top mx-auto my-3 pt-4 pb-4" %>
          <h3 class="card-title">Create Community</h3>
          <p class="card-text">Build community wherever you are</p>
        </div>
      </div>
    </div>
  </div>
</div>
