<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1536392706976-e486e2ba97af?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8ZGlubmVyfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);">
  <div class="row justify-content-between">
    <%= link_to image_tag("/assets/cookup_logo_white.png", :alt => "logo", :class => "banner_img"), root_path %>
    <h2><%= link_to 'Login', new_user_session_path %></h2>
  </div>
  <div class="container">
    <%= form_tag events_path, method: :get do %>
        <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "Give me a city"
             %>
        <div class="btn btn-confirm my-3">
          <%= submit_tag "Go" %>
        </div>
    <% end %>
  </div>
</div>

<div class="card-container">

  <!--<img class="avatar-bordered" alt="avatar" src="https://res.cloudinary.com/wagon/image/upload/c_fill,g_face,h_200,w_200/v1617950447/ezgro2ykkw3sgnxgfuz3.jpg" />

  <br>
  <br>

  <a class="btn btn-simple" href="#">Simple</a>
  <a class="btn btn-cancel" href="#">Cancel</a>
  <a class="btn btn-confirm" href="#">Confirm</a>

  <br>
  <br>

  <div class="card-small">
    <img src="https://images.unsplash.com/photo-1501623364001-70bfe454b916?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8YXhlfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60" alt="image">
    <div class="card-small-info">
      <h2>Axe Cut Food Feast</h2>
      <p>Fresh Norwegian salmon, lightly brushed with our herbed Dijon mustard sauce, with choice of two sides.</p>
    </div>
  </div>-->

  <div class="home-cards">

    <div class="card-large">
      <img src="https://images.unsplash.com/photo-1563176057-26febab5c153?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fGtvcmVhbiUyMGJicXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="image">
      <div class="card-large-footer">
        <div>
          <h2>Korean BBQ Chicken</h2>
        </div>
        <h2>€ 7 pp</h2>
      </div>
      <div class="card-large-sub-footer">
          <p>Berlin-Mitte</p>
          <p>3 free spots</p>
          <p>27.06.2021</p>
      </div>
    </div>

      <div class="card-large">
      <img src="https://images.unsplash.com/photo-1563176057-26febab5c153?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fGtvcmVhbiUyMGJicXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="image">
      <div class="card-large-footer">
        <div>
          <h2>Korean BBQ Chicken</h2>
        </div>
        <h2>€ 7 pp</h2>
      </div>
      <div class="card-large-sub-footer">
          <p>Berlin-Mitte</p>
          <p>3 free spots</p>
          <p>27.06.2021</p>
      </div>
    </div>

      <div class="card-large">
      <img src="https://images.unsplash.com/photo-1563176057-26febab5c153?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fGtvcmVhbiUyMGJicXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="image">
      <div class="card-large-footer">
        <div>
          <h2>Korean BBQ Chicken</h2>
        </div>
        <h2>€ 7 pp</h2>
      </div>
      <div class="card-large-sub-footer">
          <p>Berlin-Mitte</p>
          <p>3 free spots</p>
          <p>27.06.2021</p>
      </div>
    </div>


  </div>

</div>

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
  <div class="footer-copyright">
    Made with <i class="fas fa-dumbbell"></i> by Anonymous Iguana
  </div>
</div>
